/* Html, body */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font: 18px Verdana;
}/* html, body */

/* Dosya sürükleme alanı */
#dosyaSuruklemeAlani {

	width: 100%;
	height: 100%;
	display: table;
	cursor: default;
	background-color: #eee;
	-webkit-user-select: none;

}/* #dosyaSuruklemeAlani */

/* Dosya sürükleme alanı yazısı */
#dosyaSuruklemeAlaniYazisi {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}/* #dosyaSuruklemeAlaniYazisi */